Repository sika-training-examples/gitlab-ci--2020-09-16--example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build A, Build B

Build A:
  script:
  - echo Cuild A ...
  - echo fooo

Build B:
  script: echo Cuild B ...

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update test_example.py
  test_example.py
Due: none

Clenup
  .gitlab-ci.yml
  README.md
  a/foo.txt
  b/bar.txt
  test_example.py
Due: Build A, Build B

Update hello.go
  hello.go
Due: none

Update .gitlab-ci.yml, Dockerfile files
  .gitlab-ci.yml
  Dockerfile
Due: none

Update .gitlab-ci.yml, a/.gitlab-ci.yml, b/.gitlab-ci.yml files
  .gitlab-ci.yml
  a/.gitlab-ci.yml
  b/.gitlab-ci.yml
Due: Build A, Build B

Update generate-gitlab-ci.py, b/.gitlab-ci.yml files
  b/.gitlab-ci.yml
  generate-gitlab-ci.py
Due: Build B

Path conditions:
  Build A: any of: a/**
  Build B: any of: b/**
